[Unit]
Description=Apply all performance fixes for krypton
Requires=lxc@android.service
Before=furios-boot-wlan.service
After=lxc@android.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/krypton-startup

[Install]
WantedBy=multi-user.target
