[Unit]
Description=Perform krypton's startup initialization tasks
Requires=lxc@android.service
After=mtk-wmt-manager.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/krypton-startup

[Install]
WantedBy=multi-user.target
