[Unit]
Description=MediaTek WMT driver manager
Requires=lxc@android.service
Before=furios-boot-wlan.service
After=lxc@android.service
StartLimitBurst=5000
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/usr/libexec/mtk-wmt-manager

[Install]
WantedBy=multi-user.target
