[Unit]
Description=Run krypton performance tweaks on startup
Requires=lxc@android.service
After=android_boot_completed.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/krypton-performance

[Install]
WantedBy=multi-user.target
