Source: adaptation-furiphone-krypton
Maintainer: Bardia Moshiri
Section: metapackages
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libdbus-1-dev,
               libgnome-desktop-3-dev,
               libgtk-3-dev,
               libglib2.0-dev
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/furilabs/adaptation-droidian-zahedan
Vcs-Git: https://github.com/furilabs/adaptation-droidian-zahedan.git

Package: adaptation-furiphone-krypton
Architecture: arm64
Depends: ${misc:Depends},
         linux-bootimage-furiphone-krypton,
         adaptation-hybris-api32-phone,
         adaptation-krypton-configs,
         pqcli,
         gsd-adapter,
Essential: yes
Description: adaptation-furiphone-krypton - meta
 FuriPhone FLX1 api32 adaptation metapackage

Package: adaptation-krypton-configs
Architecture: arm64
Depends: ${misc:Depends},
         bsdextrautils,
Description: krypton's adaptation configs
