#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	mkdir -p usr/libexec/
	gcc src/flashlightd-slider.c `pkg-config --cflags --libs dbus-1` -o usr/libexec/flashlightd-slider
	gcc src/krypton-120hz.c `pkg-config --cflags --libs gnome-desktop-3.0 gtk+-3.0` -o usr/libexec/krypton-120hz

override_dh_installsystemd:
	dh_installsystemd -padaptation-krypton-configs --name=modules modules.service --no-start
	dh_installsystemd -padaptation-krypton-configs --name=droidian-perf droidian-perf.service --no-start
